// Place all the styles related to the releases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-version {
  font-weight: bold;
}

.previous-version {
  color: #999;
}

.next_release {
  background-color: #dff0d8;
}

.table_data {
  cursor: pointer;
}

table {
  table-layout: fixed;
  overflow-x: auto;
}

.notes {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

